@media only screen and (min-width: 480px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Roboto Condensed", sans-serif;
  }

  body {
    color: white;
    background-image: url(../images/nature.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  #wrapper {
    width: 90%;
    padding: 1em 0em 0em 0em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  header {
    grid-row: auto;
    grid-column: 1 / 3;
  }

  h1 {
    text-transform: uppercase;
    text-align: left;
    color: rgba(255, 255, 255, 0.2);
    letter-spacing: 0.03em;
    text-shadow: 3px 3px 0px white, 7px 7px 0px rgba(0, 0, 0, 2);
  }
  .navbar {
    padding-top: 2em;
    text-align: left;
  }
  .list {
    list-style-type: none;
    padding: 5px;
    float: left;
    margin-left: 0;
  }

  #check {
    display: none;
  }

  label #btn {
    visibility: hidden;
  }

  main {
    padding-top: 1em;
    grid-row: auto;
    grid-column: 2/3;
  }

  #para1 {
    padding-top: 3em;
    text-align: center;
    font-size: 18px;
  }

  .span1 {
    background-color: black;
  }

  .span2 {
    text-transform: uppercase;
    color: yellowgreen;
  }

  #para2 {
    padding: 1em;
    text-align: left;
    width: 50%;
    margin-bottom: -1.5em;
  }

  footer {
    padding-top: 5em;
    grid-row: auto;
    grid-column: 1/3;
  }

  #copyrights {
    padding-top: 2em;
    text-align: center;
  }

  form {
    width: 100%;
    padding: 1em;
  }

  label {
    text-align: left;
    display: block;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
  }

  #submitbtn {
    width: 10em;
  }

  .socialMedia {
    list-style: none;
    display: flex;
  }

  .socialMedia li {
    display: block;
    font-size: 40px;
    height: 30px;
    width: 70px;
    padding-left: 0.5em;
  }

  .fa-facebook-square,
  .fa-twitter-square,
  .fa-instagram-square {
    color: white;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: white;
  }

  #aboutpara {
    padding-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    font-size: 18px;
    text-align: center;
  }

  .video {
    text-align: center;
  }
}

@media only screen and (min-width: 769px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Roboto Condensed", sans-serif;
  }

  body {
    color: white;
    background-image: url(../images/nature.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }

  #wrapper {
    margin: auto;
    width: 90%;
    padding: 1em 0em 0em 0em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 150px 1fr;
  }

  header {
    grid-row: auto;
    grid-column: 1 / 3;
  }

  h1 {
    padding-left: 5em;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    letter-spacing: 0.03em;
    text-shadow: 3px 3px 0px white, 7px 7px 0px rgba(0, 0, 0, 2);
  }

  .navbar {
    position: relative;
    left: -300px;
    padding-top: 1em;
    padding-left: 1em;
    grid-row: auto;
    grid-column: 1/2;
  }

  .navstyle {
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.5s;
  }

  .list {
    padding: 5px;
    float: left;
    margin-left: 0;
  }

  nav ul li a {
    color: white;
    border-radius: 3px;
    text-decoration: none;
    display: block;
    width: 100%;
    line-height: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
  }

  ul li:hover .slide {
    padding-left: 10px;
    transition: 0.3s;
  }

  #check {
    display: none;
  }

  label #btn {
    visibility: visible;
    padding-left: 0.5em;
    cursor: pointer;
    left: 100px;
    top: 65px;
    font-size: 35px;
    color: white;
  }

  #check:checked ~ .navbar {
    left: 0;
  }

  main {
    padding-top: 1em;
    grid-row: auto;
    grid-column: 2/3;
  }

  #para1 {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    animation: typing 10s steps(100, end);
    font-size: 18px;
  }

  .span1 {
    background-color: black;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .span2 {
    text-transform: uppercase;
    color: yellowgreen;
  }

  #para2 {
    padding: 1em;
    text-align: left;
    width: 50%;
    margin-bottom: -1.5em;
  }

  footer {
    grid-row: auto;
    grid-column: 1/3;
  }

  #copyrights {
    padding-top: 2em;
    text-align: center;
  }

  form {
    width: 30%;
    padding: 1em;
  }

  label {
    text-align: left;
    display: block;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
  }

  #submitbtn {
    width: 10em;
  }

  .socialMedia {
    list-style: none;
    display: flex;
  }

  .socialMedia li {
    display: block;
    font-size: 40px;
    height: 30px;
    width: 70px;
    padding-left: 0.5em;
  }

  .fa-facebook-square,
  .fa-twitter-square,
  .fa-instagram-square {
    color: white;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: white;
  }

  #aboutpara {
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    font-size: 18px;
    text-align: center;
  }

  .video {
    text-align: center;
  }
}

@media only screen and (min-width: 1025px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Roboto Condensed", sans-serif;
  }

  body {
    padding-top: 1em;
    color: white;
    background-image: url(../images/nature.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }

  #wrapper {
    margin: auto;
    width: 80%;
    padding: 1em 0em 0em 0em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 150px 1fr;
  }

  header {
    grid-row: auto;
    grid-column: 1 / 3;
  }

  h1 {
    padding-left: 5em;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    letter-spacing: 0.03em;
    text-shadow: 3px 3px 0px white, 7px 7px 0px rgba(0, 0, 0, 2);
  }

  .navbar {
    position: relative;
    left: -300px;
    padding-top: 1em;
    padding-left: 1em;
    grid-row: auto;
    grid-column: 1/2;
  }

  .navstyle {
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.5s;
  }

  .list {
    padding: 5px;
    float: left;
    margin-left: 0;
  }

  nav ul li a {
    color: white;
    border-radius: 3px;
    text-decoration: none;
    display: block;
    width: 100%;
    line-height: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
  }

  ul li:hover .slide {
    padding-left: 10px;
    transition: 0.3s;
  }

  #check {
    display: none;
  }

  label #btn {
    visibility: visible;
    padding-left: 0.5em;
    cursor: pointer;
    left: 100px;
    top: 65px;
    font-size: 45px;
    color: white;
  }

  #check:checked ~ .navbar {
    left: 0;
  }

  main {
    padding-top: 1em;
    grid-row: auto;
    grid-column: 2/3;
  }

  #para1 {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    animation: typing 10s steps(100, end);
    font-size: 18px;
  }

  .span1 {
    background-color: black;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .span2 {
    text-transform: uppercase;
    color: yellowgreen;
  }

  #para2 {
    padding: 1em;
    text-align: left;
    width: 50%;
    margin-bottom: -1.5em;
  }

  footer {
    grid-row: auto;
    grid-column: 1/3;
  }

  #copyrights {
    padding-top: 2em;
    text-align: center;
  }

  form {
    width: 30%;
  }

  label {
    text-align: left;
    display: block;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
  }

  #submitbtn {
    width: 10em;
  }

  .socialMedia {
    list-style: none;
    display: flex;
  }

  .socialMedia li {
    display: block;
    font-size: 40px;
    height: 30px;
    width: 70px;
    padding-left: 0.5em;
  }

  .fa-facebook-square,
  .fa-twitter-square,
  .fa-instagram-square {
    color: white;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: white;
  }

  #aboutpara {
    padding-left: 15em;
    padding-right: 15em;
    color: white;
    font-size: 18px;
    text-align: center;
  }

  .video {
    padding-top: 1em;
    text-align: center;
  }
}
